.btn  {
    width: 137px;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #CD002E;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

.add-item {
    width: 96px;
    height: 38px;
    border-radius: 5px;
    padding: 8px;
    border: none;
    box-shadow: none;
}

.favorite-btn {
    width: 45px;
    height: 38px;
    border: 2px solid #CD002E;
    color: #CD002E;
    font-size: 20px;
    background-color: transparent;
    box-shadow: none;
}