.footer {
    padding: 25px 0;
    background-color: black;

    @include media ('>=1024px') {
        padding: 67px 0 5px;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title {
        padding-bottom: 10px;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
        @include media ('>=768px') {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .copy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        @include media ('>=768px') {
            width: calc(30% - 20px);
            gap: 34px;
        }
    }

    .text-holder { 

        p{
            color: $white;
            margin: 0;  
            text-align: start;
            font-size: 20px;
        }
    }

    .title {
        color: $white;
    }

    .contact-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        @include media('>=768px') {
            width: calc(25% - 20px);
        }
    }

    .icon-holder {
        width: 100%;
    }
    .icon-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media ('>=1024px') {
            justify-content: center;
            gap: 40px;
        }
    }

    .icon-item {
        transition: all ease-in-out 0.4s;
        &:hover {
            transform: scale(1.1);
        }
    }

    .icon {
        font-size: 25px;
        color: $white;
        transition: all ease-in-out 0.5s;
        
        &:hover {
            color: #CD002E;
        }
    }
}