.for-you {
    padding: 95px 0 ;
    border-bottom: 1px solid $light-grey;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        margin: 0 auto;
        margin-bottom: 90px;
    }

    .title {
        text-align: center;
        border-bottom: 5px solid #CD002E;
        border-radius: 10px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .cards-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px; 

        @include media ('>=1024px') {
            flex-direction: row;
        }
    }

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid $light-grey;
        border-radius: 10px;
        overflow: hidden;
        padding: 20px;
        transition: all ease-in-out 0.3s;

        @include media ('>=1024px') {
            width: calc(100% / 3 - 30px);
        }

        &:hover {
            transform: scale(1.1);
            border: 1px solid #CD002E;
        }
    }

    .img-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 130px;
        max-width: 145px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $light-grey;
  
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
    }

    .btn-holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
    }

    .card-name {
        display: block;
        width: 100%;
        padding: 25px 0;
        text-transform: capitalize;
    }

    .card-price {
        font-size: 24px;
    }


 
}