.for-you {
    padding: 25px 0;
    border-bottom: 1px solid $light-grey;

    @include media ('>=1024px') {
        padding: 67px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        margin-bottom: 40px;

        @include media ('>=1024px') {
            margin-bottom: 90px;
        }
    }

    .title {
        position: relative;
        text-align: center;
        width: 100%;
        margin: 0 auto;

        &::after {
            position: absolute;
            content: "";
            border-bottom: 5px solid #CD002E;
            border-radius: 10px;
            width: 100px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
    }

    .cards-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 20px;
        @include media ('>=1024px') {
            gap: 20px;
        }
    }

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid $light-grey;
        border-radius: 10px;
        overflow: hidden;
        padding: 5px;
        transition: all ease-in-out 0.3s;

        @include media ('>=768px') {
            width: calc(100% / 3 - 30px);
        }

        
        @include media ('>=1024px') {
            padding: 20px;
        }
        &:hover {
            transform: scale(1.05);
            border: 1px solid #CD002e;
        }
    }

     .img-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 130px;
        max-width: 145px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $light-grey;
  
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px; 
        
        @include media ('>=1024px') {
            padding-bottom: 20px;
        }
        
    }

    .btn-holder {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
    }

    .card-name {
        width: 90%;
        padding: 5px 0;
        text-transform: capitalize;
        
        @include media ('>=1024px') {
            padding: 25px 0;
        }
    }
    
    .card-price {
        font-size: 24px;
    }


 
}