.hero {

    padding: 20px 0;
    background-color: $pink;
    border-bottom: 1px solid $light-grey;

    @include media ('>=1024px') {
        padding: 67px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        @include media ('>=1024px') {
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }



    .img-holder {
      width: 100%;
      display: flex;
      justify-content:flex-end;

      @include media('>=1024px') {
        width: calc(50% - 10px);
      }

      img {   
        object-fit: cover;
    }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include media ('>=1024px') {
            width: calc(40% - 20px);
        }
    }
    .title {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: start;
    }
    .text-holder {
        padding-bottom: 20px;
        
        p {
            text-align: start;
        }

        @include media ('>=768px') {
            padding-bottom: 40px;
        }
    }

    .pseudo-title {
        color: #CD002E;
    }
}