
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-heading {
    background-color: #e76666;
    text-align: center;
    margin: 6% auto 0;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
    font-size: 22px;
      margin: 0;
      color: white;

      @include media ('>=1024px') {
        font-size: 36px;
      }
    }
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 80%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include media ('>=1024px') {
        flex-direction: row;
        justify-content: space-around;
    }

    .card-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border: 1px solid $light-grey;
        border-radius: 10px;
        overflow: hidden;
        padding: 5px;
        transition: all ease-in-out 0.3s;

        @include media ('>=490px') {
            justify-content: space-between;
        }
        
        @include media ('>=1024px') {
            flex-direction: column;
            width: calc(100% / 3 - 30px);
            padding: 20px;
        }
        
        &:hover {
            transform: scale(1.05);
            border: 1px solid #CD002e;
        }
    }
    
    .img-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 45px;
      max-width: 45px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid $light-grey;
      
      @include media('>=1024px') {
        max-height: 130px;
        max-width: 145px;
      }
    
      img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          display: block;
      }
    }
    
    .content {
        display: flex;
        flex-direction: column;
        width: calc(100% - 45px);
        gap: 5px;

        @include media ('>=490px') {
            width: calc(100% - 90px);
        }

        @include media ('>=1024px') {
            padding-bottom: 20px;
            gap: 10px;
            align-items: center;
        }
    }
    
    
    .card-name {
        font-size: 14px;
        width: 90%;
        text-transform: capitalize;

        @include media ('>=1024px') {
            padding: 25px 0;
            font-size: 18px;
        }
    }
    
    .card-price {
        font-size: 14px;

        @include media ('>=1024px') {
            font-size: 24px;
        }
    }
    
    .add-item {
        margin: 20px 0;
    }
  }
  .close-btn {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;

    @include media ('>=1024px') {
    width: 30px;
    height: 24px;
    }

    &:before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $white;
      transition: all ease-in-out 0.3s;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .alternative-text {
    font-size: 22px;
  }


  

  .form__holder {
    width: 100%;

    @include media ('>=1024px') {
        width: 30%;
    }
  }

  .form__title {
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

    .input__name,
    .input__number,
    .input__email {
        text-transform: capitalize;
        padding: 15px 25px;
        width: 100%;
        cursor: pointer;
        border: 1px solid $light-grey;
        outline: none;
        border-radius: 10px;
        background-color: transparent;
        font-size: 18px;
        color: $grey;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    .bag {
        align-items: stretch;
    }
.bag__cards-holder {
       width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3px;

        @include media ('>=1024px') {
            width: calc(70% - 20px);
        }
      }

    .bag__card-title {
        margin-bottom: 25px;
    }
    
.bag__card-item {
            display: flex;
            align-items: center;
            width: 100%;
            border: 1px solid $light-grey;
            border-radius: 10px;
            overflow: hidden;
            padding: 5px;
            transition: all ease-in-out 0.3s;
            gap: 20px;
            margin-bottom: 10px;
      }
  .bag__img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90px;
    max-width: 90px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid $light-grey;
    
    @include media ('>=1024px') {
        max-height: 130px;
        max-width: 145px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
  }


  .bag__content {
    display: flex;
    flex-direction: column;
  }

  .price-all {
    border-top: 1px solid $light-grey;
    text-align: end;
    font-size: 22px;
    font-weight: bold;
  }