//fonts 
$default-font: "GeneralSans";
$secondary-font: 'CabinetGrotesk';

//color 
$white: #fff;
$black: #000;
$dark: #0D0D0D;
$grey: #828282;
$dark-grey: #A0A0A0;
$light-grey: #E0E0E0;
$pink: #FDF2EA;




